<div class="ui grid">
    <div class="three wide column">
        <app-filter (filterName) = "onGetFilterName($event)"></app-filter>
    </div>
    <div class="twelve wide column">

        <div *ngIf = "!haveFilter; else filter">
            <app-recipes-list></app-recipes-list>
        </div>
        <ng-template #filter>
            <div class="ui divided items">
                <app-recipes-item class="ui item" *ngFor="let recipe of recipes | async" [recipe]="recipe"></app-recipes-item>
            </div>
        </ng-template>
    </div>

</div>

