<div class="ui centered grid" >
    <div class="ten wide  centered column" id="col" >
        <form class="ui equal width form" [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="fields">
                <div class="required field" [ngClass]="{error: usernameHasErrors()}">
                    <label>Username</label>
                    <input type="text" placeholder="username" formControlName="username">
                </div>
                <div class="required field">
                    <label>Password</label>
                    <input type="text" placeholder="password" formControlName="password">
                </div>
            </div>
            <div class="ui negative message" *ngIf="usernameHasErrors()">
                <ul>
                    <li *ngFor="let errorMessage of usernameErrors()">{{ errorMessage }}</li>
                </ul>
            </div>
            <div class="fields">
                <div class="required field">
                    <label>Name</label>
                    <input type="text" placeholder="Name" formControlName="name">
                </div>

                <div class="required field">
                    <label>Surname</label>
                    <input type="text" placeholder="Surname" formControlName="surname">
                </div>

                <div class="required field">
                    <label>Email</label>
                    <input type="text" placeholder="email@gmail.com" formControlName="email">
                </div>
            </div>
            <button class="ui fluid button" type="submit">Register</button>
        </form>

        <div class="ui bottom attached warning message">
            Already signed up? <a routerLink="/login">Login here</a> instead.
        </div>
    </div>
    <div>
        <img src = "assets/logo.png" alt = "Recipe image">
    </div>
</div>