<div class="ui container">
    <div *ngIf = "recipesList | async as recipes; else emptyFav">
        <h3>Your favorites recipes:</h3>
        <div class="ui divided items">

            <div class="item" *ngFor="let recipe of recipes">

                <div class = "image">
                    <img [src] = recipe.strMealThumb alt = "Recipe image">
                </div>

                <div class = "content">
                    <a class = "header" routerLink='/meals/{{recipe.strMeal}}'> {{recipe.strMeal}}</a>  
                        <div id="heart" *ngIf="user" >
                            <i class="heart icon" (click)="removeFromFavoritesButtonClicked(recipe.strMeal)">
                        </i></div>
                    
                        <div class = "meta">
                            {{recipe.strCategory}}
                        </div>
                    
                        <div class = "description">
                            <p>{{(recipe.strInstructions.length>250)? ((recipe.strInstructions | slice:0:250)+"..."):(recipe.strInstructions)}}</p>
                        </div>
                    
                    
                        <div class = "extra">
                        <p> {{recipe.strArea}}</p>
                        </div>
                </div>
            
            </div>
        </div>

    </div>
    <div>
        <ng-template #emptyFav> <h1>Favorites list is empty...</h1> </ng-template>
    </div>
</div>