
<div class = "image">
    <img [src] = "getRecipePicture(recipe.strMealThumb)"  onerror="this.onerror=null; this.src='assets/diet.png'" alt = "Recipe image">
</div>

<div class = "content">
    <a class = "header" routerLink='/meals/{{recipe.strMeal}}'> {{recipe.strMeal}}</a>  
    <div id="heart" *ngIf="user" >
        <i class="{{heart}}" (click)="addToFavoritesButtonClicked()" >
    </i></div>

    <div class = "meta">
        {{recipe.strCategory}}
    </div>

    <div class = "description">
        <p>{{(recipe.strInstructions.length>250)? ((recipe.strInstructions | slice:0:250)+"..."):(recipe.strInstructions)}}</p>
    </div>


    <div class = "extra">
    <p> {{recipe.strArea}}</p>
    </div>
</div>
