<div *ngIf="recipe | async as rec" >
    <div class="ui grid">
        <div class="nine wide column">
            <div class = "content">
                <div class = "header"><h2>{{rec.strMeal}}</h2></div>
                <hr>
                
                <div class = "meta">
                    <h4>Category:</h4>&nbsp;{{rec.strCategory}}
                </div>
                <div class = "meta">
                    <h4>Area:</h4>&nbsp;{{rec.strArea}}
                </div>
                <br>
                <div class = "description">
                    <h3>Recipe instructions:</h3>
                    <p>{{rec.strInstructions}}</p>
                </div>
                <div class ="ingredients">
                    <br>
                    <h3>Ingredients</h3>
                    <table class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th><h2>Name</h2></th>
                                <th><h2>Measure</h2></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="centered" *ngFor="let ingredient of rec.strIngredients">
                                <td>{{ingredient.name}}</td>
                                <td>{{ingredient.measure}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="seven wide column">
            <div class = "image">
                <img [src] = "getRecipePicture(rec.strMealThumb)" onerror="this.onerror=null; this.src='assets/diet.png'" alt = "Recipe image" width="100%" height="100%" alt = "Recipe image">
            </div>
        </div>
    </div>
    <hr>
    <div class="video">
        <youtube-player [width]="1000" [height]="500" videoId="{{youTubeId}}" > </youtube-player>
    </div> 
</div>
